html, body, ul{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #323232;
    /*font-family: 'Open Sans', sans-serif; */
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2 rem;
    gap: 1rem;
}

#login .actions{
    text-align: center;
    margin-top: .5rem;
}

.github-image{
    width: 50px;
}

#email {
    width: 12rem;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

#button-submit {
    padding: 0.2rem 3rem;
    background-color: #00ffff;
    color: #000;
    border-radius: 6px;
}